[Desktop Entry]
Encoding=UTF-8
Name=Hedgewars
Exec=hedgewars
Icon=hedgewars
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;StrategyGame;
